/* screen - submitted-1440px */

.submitted-1440px {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  min-width: 938px;
  padding: 49px 166px;
  position: relative;
}

.submitted-1440px .menu {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.submitted-1440px .buttons {
  align-items: center;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  width: fit-content;
}

.submitted-1440px .name {
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .highlighter {
  height: 1px;
  margin-bottom: -1810.00px;
  margin-left: -1415.00px;
  min-width: 6px;
  position: relative;
}

.submitted-1440px .x01-navigation-nav-bar-options-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.submitted-1440px .x01-navigation-nav-bar-options-2 {
  cursor: pointer;
  overflow-y: scroll;
}

.submitted-1440px .sobre {
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .sobre:hover {
  transform: translate(0, -5px);
}

.submitted-1440px .x01-navigation-nav-bar-options {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: fit-content;
}

.submitted-1440px .projetos {
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .projetos:hover {
  transform: translate(0, -5px);
}

.submitted-1440px .highlighter-2 {
  margin-bottom: -1810.00px;
  margin-left: -1665.50px;
}

.submitted-1440px .contato {
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .contato:hover {
  transform: translate(0, -5px);
}

.submitted-1440px .highlighter-3 {
  margin-bottom: -1810.00px;
  margin-left: -1785.00px;
}

.submitted-1440px .email {
  align-items: flex-start;
  display: flex;
  padding: 50px 0px;
  position: relative;
  width: fit-content;
}

.submitted-1440px .base-list-email {
  align-items: flex-start;
  background-color: var(--agnostic-color);
  border-radius: 24px;
  display: flex;
  gap: 32px;
  justify-content: center;
  padding: 24px;
  position: relative;
  width: 606px;
}

.submitted-1440px .corpoemail {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.submitted-1440px .agradecimento {
  align-self: stretch;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.submitted-1440px .retorno {
  align-self: stretch;
  letter-spacing: 0.40px;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
}

.submitted-1440px .x03-icons-image-place-holder {
  -webkit-backdrop-filter: blur(46.55px) brightness(100%);
  align-self: stretch;
  backdrop-filter: blur(46.55px) brightness(100%);
  background-color: var(--agnostic-color);
  border-radius: 13px;
  height: 60px;
  min-width: 558px;
  overflow: hidden;
  position: relative;
}

.submitted-1440px .x03-emoji {
  background-image: url(../img/emojicaixa@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 27px;
  left: 265px;
  position: relative;
  top: 16px;
  width: 27px;
}

.submitted-1440px .volte-para-o-incio {
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .volte-para-o-incio:hover {
  transform: translate(0, -5px);
}

.submitted-1440px .highlighter-4 {
  height: 1px;
  min-width: 6px;
  position: relative;
}

.submitted-1440px .x01-navigation-nav-bar-options-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: fit-content;
}
