/* screen - submitted-375px */

.submitted-375px {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  min-width: 330px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  padding: 28px 27px;
  position: relative;
  top: 0px;
}

.submitted-375px .navbar-mobile {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 16px;
  height: auto;
  position: relative;
  width: fit-content;
}

.submitted-375px .navbar-name-mobile {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  position: relative;
  width: 77px;
}

.submitted-375px .button-name-mobile {
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 12px 0px;
  position: relative;
  width: 75px;
}

.submitted-375px .name-mobile {
  background-color: transparent;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.submitted-375px .highlighter-LYPa7S {
  margin-bottom: -1831.00px;
  margin-left: -696.50px;
}

.submitted-375px .navbar-exp-mobile::-webkit-scrollbar {
  display: none;
  width: 0;
}

.submitted-375px .navbar-exp-mobile {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  height: auto;
  overflow-y: scroll;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 45px;
}

.submitted-375px .navbar-exp-mobile:hover {
  transform: translate(0, -5px);
}

.submitted-375px .button-exp-mobile {
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 12px 0px;
  position: relative;
  width: 44px;
}

.submitted-375px .exp-mobile {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-375px .navbar-proj-mobile {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 54px;
}

.submitted-375px .navbar-proj-mobile:hover {
  transform: translate(0, -5px);
}

.submitted-375px .button-proj-mobile {
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 12px 0px;
  position: relative;
  width: fit-content;
}

.submitted-375px .proj-mobile {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-375px .highlighter-nGlkQw {
  margin-bottom: -1831.00px;
  margin-left: -862.00px;
}

.submitted-375px .navbar-mobile-contact {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 52px;
}

.submitted-375px .navbar-mobile-contact:hover {
  transform: translate(0, -5px);
}

.submitted-375px .button-mobile-contact {
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 12px 24px 12px 0px;
  position: relative;
  width: 51px;
}

.submitted-375px .contact-mobile {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-375px .highlighter-xsmZJb {
  margin-bottom: -1831.00px;
  margin-left: -933.00px;
}

.submitted-375px .contact-base-mobile {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  padding: 50px 0px;
  position: relative;
  width: fit-content;
}

.submitted-375px .cbase-mobile {
  align-items: flex-start;
  background-color: var(--agnostic-color);
  border-radius: 24px;
  display: flex;
  gap: 32px;
  justify-content: center;
  mix-blend-mode: normal;
  padding: 24px;
  position: relative;
  width: 187px;
}

.submitted-375px .corpoemail-X2E5rV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.submitted-375px .img-placeholder-XthDoF {
  -webkit-backdrop-filter: blur(46.55172348022461px) brightness(100%);
  backdrop-filter: blur(46.55172348022461px) brightness(100%);
  background-color: var(--agnostic-color);
  border-radius: 13px;
  height: 40px;
  min-width: 140px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
}

.submitted-375px .x03-emoji-ooPmxv {
  background-color: transparent;
  height: 27px;
  left: 56px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 27px;
}

.submitted-375px .emojicaixa-xyAkyM {
  background-color: transparent;
  height: 27px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 27px;
}

.submitted-375px .contact-intro-mobile {
  background-color: transparent;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.submitted-375px .contact-desc-mobile {
  background-color: transparent;
  letter-spacing: 0.40px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: auto;
}

.submitted-375px .button-voltar {
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-375px .button-voltar:hover {
  transform: translate(0, -5px);
}

/* screen - submitted-1440px */

.submitted-1440px {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: auto;
  min-width: 938px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  padding: 49px 166px;
  position: relative;
  top: 0px;
}

.submitted-1440px .navbar-desktop {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 16px;
  height: auto;
  position: relative;
  width: fit-content;
}

.submitted-1440px .navbar-name-desktop {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  position: relative;
  width: 77px;
}

.submitted-1440px .button-name-desktop {
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 12px 0px;
  position: relative;
  width: 75px;
}

.submitted-1440px .name-desktop {
  background-color: transparent;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .highlighter-LYPa7S {
  margin-bottom: -1831.00px;
  margin-left: -696.50px;
}

.submitted-1440px .navbar-exp-desktop::-webkit-scrollbar {
  display: none;
  width: 0;
}

.submitted-1440px .navbar-exp-desktop {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  height: auto;
  overflow-y: scroll;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 45px;
}

.submitted-1440px .navbar-exp-desktop:hover {
  transform: translate(0, -5px);
}

.submitted-1440px .exp-desktop {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .navbar-proj-desktop {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 54px;
}

.submitted-1440px .navbar-proj-desktop:hover {
  transform: translate(0, -5px);
}

.submitted-1440px .proj-desktop {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .highlighter-nGlkQw {
  margin-bottom: -1831.00px;
  margin-left: -862.00px;
}

.submitted-1440px .navbar-contact-desktop {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 52px;
}

.submitted-1440px .navbar-contact-desktop:hover {
  transform: translate(0, -5px);
}

.submitted-1440px .buttons-desktop {
  align-items: center;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 12px 24px 12px 0px;
  position: relative;
  width: 51px;
}

.submitted-1440px .contact-desktop {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .highlighter-xsmZJb {
  margin-bottom: -1831.00px;
  margin-left: -933.00px;
}

.submitted-1440px .contact-base-desktop {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: auto;
  mix-blend-mode: normal;
  padding: 50px 0px;
  position: relative;
  width: fit-content;
}

.submitted-1440px .cbase-desktop {
  align-items: flex-start;
  background-color: var(--agnostic-color);
  border-radius: 24px;
  display: flex;
  gap: 32px;
  height: 703px;
  justify-content: center;
  mix-blend-mode: normal;
  padding: 24px 0px;
  position: relative;
  width: 187px;
}

.submitted-1440px .corpoemail-X2E5rV {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  position: relative;
  width: fit-content;
}

.submitted-1440px .img-placeholder-XthDoF {
  -webkit-backdrop-filter: blur(46.55172348022461px) brightness(100%);
  backdrop-filter: blur(46.55172348022461px) brightness(100%);
  background-color: var(--agnostic-color);
  border-radius: 13px;
  height: 40px;
  min-width: 140px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
}

.submitted-1440px .x03-emoji-ooPmxv {
  background-color: transparent;
  height: 27px;
  left: 56px;
  mix-blend-mode: normal;
  position: relative;
  top: 6px;
  width: 27px;
}

.submitted-1440px .emojicaixa-xyAkyM {
  background-color: transparent;
  height: 27px;
  left: -0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 27px;
}

.submitted-1440px .contact-title-desktop {
  background-color: transparent;
  letter-spacing: 0.40px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 140px;
}

.submitted-1440px .contact-desc-desktop {
  background-color: transparent;
  letter-spacing: 0.40px;
  line-height: 16px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 140px;
}

.submitted-1440px .button-voltar {
  cursor: pointer;
  letter-spacing: 0.40px;
  line-height: 16px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: fit-content;
}

.submitted-1440px .button-voltar:hover {
  transform: translate(0, -5px);
}
