:root { 
  --agnostic-color: #7f7f7f26;
  --black: #000000;
  --black-2: #000000de;
  --black-3: #00000099;
  --black-4: #00000061;
  --licorice: #151515;
  --white: #ffffff;
 
  --font-size-m: 12px;
  --font-size-s: 2.3px;
 
  --font-family-epilogue: "Epilogue", Helvetica;
  --font-family-inter: "Inter", Helvetica;
}
.epilogue-normal-black-12px {
  color: var(--black-2);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.epilogue-normal-black-12px-2 {
  color: var(--black-3);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.epilogue-normal-black-12px-3 {
  color: var(--black-4);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-2-3px {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
